/* Cabeçalho */
header nav img {
    width: 300px;
    padding: 20px;
    border-radius: 30px;
}


/* Caixa de pesquisa */
input {
    text-align: center;
}

.caixa-pesquisa {
    padding: 20px;
}

.caixa-pesquisa input {
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    border: 0;
}

.caixa-pesquisa button {
    background: 0;
    color: darkgray;
    border: 0;
    height: 30px;
    font-weight: bold;
    border-radius: 7px;
}

.caixa-pesquisa button:hover {
    background-color: black;
}

/* Categorias */
.categorias {
    display: in;
    justify-items: left;
}

/* Parte de aside */
aside {
    display: flexbox;
}

/* Rodapé */
footer {
    background-color: black;
    color: white;
    padding: 10px;
    clear: both;
    text-align: center;
}